<app-background-canvas></app-background-canvas>
<app-header></app-header>
<div class="container">
  <app-product-overview></app-product-overview>
  <app-in-the-box></app-in-the-box>
  <app-key-features></app-key-features>
  <app-setup-instructions></app-setup-instructions>
  <app-usage-instructions></app-usage-instructions>
  <app-troubleshooting></app-troubleshooting>
  <app-maintenance-care></app-maintenance-care>
  <app-warranty-support></app-warranty-support>
</div>
<app-footer></app-footer>
